In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
#suggested libraries for NLP
import re
import nltk
from nltk.corpus import stopwords
from sklearn.feature_extraction.text import CountVectorizer, TfidfVectorizer

In [2]:
df = pd.read_csv('labeled_data.csv')
df.head()

,Unnamed: 0,count,hate_speech,offensive_language,neither,class,tweet
0,0,3,0,0,3,2,!!! RT @mayasolovely: As a woman you shouldn't...
1,1,3,0,3,0,1,!!!!! RT @mleew17: boy dats cold...tyga dwn ba...
2,2,3,0,3,0,1,!!!!!!! RT @UrKindOfBrand Dawg!!!! RT @80sbaby...
3,3,3,0,2,1,1,!!!!!!!!! RT @C_G_Anderson: @viva_based she lo...
4,4,6,0,6,0,1,!!!!!!!!!!!!! RT @ShenikaRoberts: The shit you...

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24783 entries, 0 to 24782
Data columns (total 7 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Unnamed: 0          24783 non-null  int64
 1   count               24783 non-null  int64
 2   hate_speech         24783 non-null  int64
 3   offensive_language  24783 non-null  int64
 4   neither             24783 non-null  int64
 5   class               24783 non-null  int64
 6   tweet               24783 non-null  object
dtypes: int64(6), object(1)
memory usage: 1.3+ MB

In [4]:
df.describe()

,Unnamed: 0,count,hate_speech,offensive_language,neither,class
count,24783.000000,24783.000000,24783.000000,24783.000000,24783.000000,24783.000000
mean,12681.192027,3.243473,0.280515,2.413711,0.549247,1.110277
std,7299.553863,0.883060,0.631851,1.399459,1.113299,0.462089
min,0.000000,3.000000,0.000000,0.000000,0.000000,0.000000
25%,6372.500000,3.000000,0.000000,2.000000,0.000000,1.000000
50%,12703.000000,3.000000,0.000000,3.000000,0.000000,1.000000
75%,18995.500000,3.000000,0.000000,3.000000,0.000000,1.000000
max,25296.000000,9.000000,7.000000,9.000000,9.000000,2.000000

In [5]:
df.shape

(24783, 7)

In [6]:

ten = df['tweet'][:2]
ten

0    !!! RT @mayasolovely: As a woman you shouldn't...
1    !!!!! RT @mleew17: boy dats cold...tyga dwn ba...
Name: tweet, dtype: object

In [7]:
#converting the tweets in lower case
lower = ten.str.lower()
print(lower)

0    !!! rt @mayasolovely: as a woman you shouldn't...
1    !!!!! rt @mleew17: boy dats cold...tyga dwn ba...
Name: tweet, dtype: object

In [8]:
tokenized= lower.str.split()
print(tokenized)

0    [!!!, rt, @mayasolovely:, as, a, woman, you, s...
1    [!!!!!, rt, @mleew17:, boy, dats, cold...tyga,...
Name: tweet, dtype: object

In [9]:
def bigrams(tokenized):
    bigram = []
    for i in tokenized:
        for j in range(len(i)-1):
            bigram.append([i[j],i[j+1]])
    return bigram

In [10]:
print(bigrams(tokenized))

[['!!!', 'rt'], ['rt', '@mayasolovely:'], ['@mayasolovely:', 'as'], ['as', 'a'], ['a', 'woman'], ['woman', 'you'], ['you', "shouldn't"], ["shouldn't", 'complain'], ['complain', 'about'], ['about', 'cleaning'], ['cleaning', 'up'], ['up', 'your'], ['your', 'house.'], ['house.', '&amp;'], ['&amp;', 'as'], ['as', 'a'], ['a', 'man'], ['man', 'you'], ['you', 'should'], ['should', 'always'], ['always', 'take'], ['take', 'the'], ['the', 'trash'], ['trash', 'out...'], ['!!!!!', 'rt'], ['rt', '@mleew17:'], ['@mleew17:', 'boy'], ['boy', 'dats'], ['dats', 'cold...tyga'], ['cold...tyga', 'dwn'], ['dwn', 'bad'], ['bad', 'for'], ['for', 'cuffin'], ['cuffin', 'dat'], ['dat', 'hoe'], ['hoe', 'in'], ['in', 'the'], ['the', '1st'], ['1st', 'place!!']]

In [11]:
def unique_words(tokenized):
    unique = []
    for i in tokenized:
        for j in i :
            if(j  not in unique):
                unique.append(j)
    return unique

In [12]:
token = unique_words(tokenized)
print(token)

['!!!', 'rt', '@mayasolovely:', 'as', 'a', 'woman', 'you', "shouldn't", 'complain', 'about', 'cleaning', 'up', 'your', 'house.', '&amp;', 'man', 'should', 'always', 'take', 'the', 'trash', 'out...', '!!!!!', '@mleew17:', 'boy', 'dats', 'cold...tyga', 'dwn', 'bad', 'for', 'cuffin', 'dat', 'hoe', 'in', '1st', 'place!!']

In [13]:
def bigrammaker(tokenized):
    bigram_unique = []
    for i in range(len(ten)):
        t = ten[i].lower().split()
        for j in range(1,len(t)):
            word = t[j-1] + " " + t[j]
            if word not in bigram_unique:
                bigram_unique.append(word)
    return bigram_unique

In [14]:
voc = bigrammaker(ten)
voc

['!!! rt',
 'rt @mayasolovely:',
 '@mayasolovely: as',
 'as a',
 'a woman',
 'woman you',
 "you shouldn't",
 "shouldn't complain",
 'complain about',
 'about cleaning',
 'cleaning up',
 'up your',
 'your house.',
 'house. &amp;',
 '&amp; as',
 'a man',
 'man you',
 'you should',
 'should always',
 'always take',
 'take the',
 'the trash',
 'trash out...',
 '!!!!! rt',
 'rt @mleew17:',
 '@mleew17: boy',
 'boy dats',
 'dats cold...tyga',
 'cold...tyga dwn',
 'dwn bad',
 'bad for',
 'for cuffin',
 'cuffin dat',
 'dat hoe',
 'hoe in',
 'in the',
 'the 1st',
 '1st place!!']

In [15]:
corpus = token

tfidf = TfidfVectorizer()
vect = tfidf.fit_transform(corpus)

df = pd.DataFrame()
df['vocabulary'] = tfidf.get_feature_names()
df['sentence1'] = vect.toarray()[0]
df['sentence2'] = vect.toarray()[1]
df['sentence3'] = vect.toarray()[2]
df.set_index('vocabulary', inplace=True)
print(df.T)

vocabulary  1st  about  always  amp   as  bad  boy  cleaning  cold  complain  \
sentence1   0.0    0.0     0.0  0.0  0.0  0.0  0.0       0.0   0.0       0.0
sentence2   0.0    0.0     0.0  0.0  0.0  0.0  0.0       0.0   0.0       0.0
sentence3   0.0    0.0     0.0  0.0  0.0  0.0  0.0       0.0   0.0       0.0

vocabulary  ...  should  shouldn  take  the  trash  tyga   up  woman  you  \
sentence1   ...     0.0      0.0   0.0  0.0    0.0   0.0  0.0    0.0  0.0
sentence2   ...     0.0      0.0   0.0  0.0    0.0   0.0  0.0    0.0  0.0
sentence3   ...     0.0      0.0   0.0  0.0    0.0   0.0  0.0    0.0  0.0

vocabulary  your
sentence1    0.0
sentence2    0.0
sentence3    0.0

[3 rows x 34 columns]

c:\Users\Ms Links\AppData\Local\Programs\Python\Python39\lib\site-packages\sklearn\utils\deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)